
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.color-swap {
    position: absolute !important;
    left: 40px;
    top: -18px;
    transform: scale(0.5);
}
